:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}

*,
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    display: grid;
    place-items: center;
    font-family: "League Spartan";
}

main {
    display: grid;
    place-items: center;
}

img {
    display: block;
    max-width: 100%;
}

p {
    color: var(--very-dark-gray);
}

h2, h3 {
    color: var(--black);
}

.arrows-desktop {
    display: none;
}

.c-slider-desktop {
    display: none;
}

.c-slider-mobile {
    position: relative;
    background-image: url(images/mobile-image-hero-1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 45vh;
    transition: background-image 500ms ease-in-out;
    transition-behavior: allow-discrete;

    & img:first-child {
        cursor: pointer;
    }
}

.menu {
    display: flex;
    align-items: center;
    padding: 3rem 2rem; 

    & img:nth-child(2) {
        margin-inline: auto;
    }
}

.arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    gap: 1rem;
}

.arrows > div {
    place-self: center;
    padding: 1rem;

    &:hover {
        background-color: var(--dark-gray);
    }
}

.c-company-description {
    padding: 3rem 2rem;
    transition: opacity 350ms ease-out;

    & > h2 {
        font-size: 2rem;
    }

    & > p {
        margin-block-end: 1.5rem;
        margin-block-start: 1rem;
    }

    @media (min-width : 1000px) {
        padding: 5rem 5rem;
    }
}

.second, .third {
    position: absolute;
    inset: 0;
}

.shop-link {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > p {
        letter-spacing: 0.5rem;
    }
}

.c-furniture-description {
    padding: 2rem 2rem;

    & > h3 {
        letter-spacing: 0.25rem;
        font-size: 1rem;
    }

    & > p {
        margin-block-start: 1.5rem;
    }

    @media (min-width : 1000px) {
        padding: 3rem 2rem;
    }
}

.primary-navigation-mobile {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 3rem 2rem;
    background-color: white;
    width: 100%;
    z-index: 1;

    & img {
        cursor: pointer;
    }

    & ul {
        display: flex;
        gap: 2rem;
        list-style: none;

        & a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }
}

.image-dark > img, .image-light > img {
    width: 100%;
}

.shop-link:hover {
    cursor: pointer;
}

.l-company-description {
    position: relative;
}

.hidden {
    display: none;
    opacity: 0;
}

.fade-out {
    opacity: 0;
}

@media (min-width : 1000px) {

    .c-slider-mobile {
        display: none;
    }

    .c-slider-desktop {
        display: block;
    }

    .arrows-desktop {
        display: block;
        z-index: 1;
    }

    main {
        max-width: 90%;
        max-height: 80%;
    }

    .l-container {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(3, 1fr);
        position: relative;
    }

    .c-slider-desktop {
        background-image: url(images/desktop-image-hero-1.jpg);
        background-size: cover;
        grid-column: span 7;
        grid-row: span 2;

        & .primary-navigation {
            display: flex;
            gap: 3rem;
            position: relative;
            top: 4rem;
            left: 3rem;
            align-items: center;
        }

        & ul{
            list-style: none;
            display: flex;
            gap: 1rem;

            & li {
                padding: 1rem;
                position: relative; 
                
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 1px;
                    width: 50%;
                    translate: -50%;
                    background-color: white;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 350ms ease-out;
                }

                &:has(a:hover)::after{
                    transform: scaleX(1);
                }
            }


            & a {
                text-decoration: none;
                color: white;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .l-company-description {
        grid-column: 8 / -1;
        grid-row: 1 / 3;
        place-self: center;
    }

    .image-dark {
        grid-column: span 3;
    }

    .c-furniture-description {
        grid-column: span 5;
    }

    .image-light {
        grid-column: span 3;
    }

    .arrows-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 1rem;
        grid-column: 8 / 9;
        grid-row: 2 / 3;
        background-color: black;
        align-self: end;
        position: absolute;
        width: 100%;

        & > * {
            place-self: center;
        }
    }
}